$red: #8E1A11;
$blue: #030B46;
$black: #070606;
$white: #f2f2f2;


body {
    background: #F4F5F6;
    width: 100%;
    padding: 0;
    margin: 0;
    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
    }
    a {
        display: block;
        text-decoration: none;
    }
    button {
        border: none;
        outline: none;
    }
    input {
        border: none;
        outline: none;
    }
    input:focus {
        border: none;
        outline: none;
    }
}
.container {
    width: 100%;
    overflow: hidden;
}
.main {
    width: 100%;
}

.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.contacts {
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.tel, .mail {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    a {
        color: $black;
        margin: 10px;
    }
}
.logo {
    margin-left: 20px;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    a {
        margin: 0 20px;
        padding: 3px;
        border-bottom: 1px solid $white;
        color: $black;
        font-size: 14px;
        font-weight: 600;
        transition: all 0.4s ease-in-out;
        &:hover {
            transform: scale(107%);
            border-bottom: 3px solid $red;
            padding-bottom: 3px;
            transition: all 0.4s ease-in-out;
        }
    }
}
.banner {
    background: url(../assets/header-back.png);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 50px 50px 0;
    .form {
        width: 47%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        input {
            height: 45px;
            width: 80%;
            margin: 10px 0;
            padding-left: 10px;
        }
        button {
            margin-top: 25px;
            width: 80%;
            background: $red;
            font-weight: 600;
            font-size: 24px;
            line-height: 29px;
            text-align: center;
            padding: 10px;
            outline: none;
            color: $white;
            border-radius: 15px;
            -webkit-border-radius: 15px;
            -moz-border-radius: 15px;
            -ms-border-radius: 15px;
            -o-border-radius: 15px;
            transition: all 0.4s ease-in-out;
            &:hover {
                transition: all 0.4s ease-in-out;
                transform: scale(107%);
            }
        }
        p {
            width: 80%;
            font-size: 12px;
            line-height: 14px;
            color: #DDD8D8;
            margin-top: 10px;
        }
    }
}
.offer-text {
    width: 53%;
    h1 {
        width: 95%;
        text-align: center;
        padding: 20px;
        font-size: 44px;
        line-height: 58px;
        text-transform: uppercase;
        background: rgba(255, 255, 255, 0.8);
        backdrop-filter: blur(2px);
        span {
            color: $red;
            font-weight: 700;
        }
        span:nth-child(1) {
            color: $blue;
        }
    }
    p {
        width: 95%;
        color: $white;
        font-weight: 600;
        font-size: 32px;
        line-height: 39px;
        margin: 7px 0 0 20px;
    }
}
.translated {
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}
.services {
    margin-top: 40px;
    overflow: hidden;
    width: 100%;
    h2 {
        background-color: #FFFFFF;
        width: fit-content;
        padding: 12px 190px 12px 20px;
        span {
            font-weight: 600;
            font-size: 32px;
            line-height: 38px;
            color: $blue;
            text-transform: uppercase;
        }
        span:nth-child(2) {
            color: $red;
        }
    }
    p {
        width: 70%;
        font-size: 24px;
        line-height: 30px;
        color: $black;
        margin: 20px 0 20px 40px;
    }
    .products {
        width: 90%;
        margin: 60px auto;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
}
.prod {
    position: relative;
    background: url(../assets/service-1.png);
    height: fit-content;
    max-height: 300px;
    width: 40%;
    border: 2px solid $red;
    padding: 30px 0;
    .prod-h3 {
        width: 100%;
        text-align: center;
        color: #FFFFFF;
        font-weight: 600;
        font-size: 32px;
        line-height: 40px;
    }
    .prod-p {
        width: 90%;
        font-size: 24px;
        line-height: 30px;
        color: $white;
        text-align: center;
        margin: 0;
        font-weight: 400;
        margin: 20px auto 110px;
    }
    .open-modal {
        position: absolute;
        color: $white;
        text-align: center;
        background: $red;
        bottom: 0;
        width: 100%;
        left: 0;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        font-size: 24px;
        line-height: 30px;
        text-transform: uppercase;
        transition: all .4s ease-in-out;
        cursor: pointer;
        &:hover {
            transition: all .4s ease-in-out;
            text-decoration: underline;
        }
    }
}
.prod:nth-child(2) {
    background: url(../assets/service-2.png);
}
.about {
    width: 100%;
    border: 2px solid $red;
    background: url(../assets/about-back.png);
    h3 {
        margin-top: 60px;
        background: #FFFFFF;
        padding: 12px 190px 12px 60px;
        width: fit-content;
        span {
            font-weight: 600;
            font-size: 32px;
            line-height: 38px;
            text-transform: uppercase;
            color: $blue;
        }
        span:nth-child(2) {
            color: $red;
        }
    }
    p {
        width: 70%;
        margin: 20px auto 20px 60px;
        color: $white;
        font-size: 24px;
        line-height: 30px;
    }
    a {
        width: 33%;
        padding: 16px;
        background: $red;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
        margin: 20px auto 60px 60px;
        color: $white;
        text-align: center;
        font-size: 24px;
        line-height: 30px;
        transition: all 0.4s ease-in-out;
        &:hover {
            transition: all 0.4s ease-in-out;
            transform: scale(107%);
        }
    }
}
.worksteps {
    width: 100%;
    h3 {
        margin-top: 60px;
        background: #FFFFFF;
        padding: 12px 190px 12px 60px;
        width: fit-content;
        span {
            font-weight: 600;
            font-size: 32px;
            line-height: 38px;
            text-transform: uppercase;
            color: $blue;
        }
        span:nth-child(2) {
            color: $red;
        }
    }
    p {
        width: 70%;
        margin: 20px auto 20px 60px;
        color: $black;
        font-size: 24px;
        line-height: 30px;
    }
}
.steps-box {
    margin: 40px auto;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: relative;
    overflow: hidden;
    .count {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 10%;
        p {
            margin: 0 0 10px 0;
            cursor: pointer;
        }
    }
}
.item {
    .text {
        width: 100%;
        h4 {
            font-weight: 600;
            font-size: 24px;
            line-height: 30px;
            color: $blue;
        }
        p {
            font-size: 24px;
            line-height: 30px;
            margin: 30px 0 0 0;
            color: $black;
            width: 70%;
        }
    }
}
.advantages {
    width: 100%;
    margin: 50px auto;
    h4 {
        margin-top: 60px;
        background: #FFFFFF;
        padding: 12px 190px 12px 60px;
        width: fit-content;
        span {
            font-weight: 600;
            font-size: 32px;
            line-height: 38px;
            text-transform: uppercase;
            color: $blue;
        }
        span:nth-child(2) {
            color: $red;
        }
    }
    p {
        width: 70%;
        margin: 20px auto 20px 60px;
        color: $black;
        font-size: 24px;
        line-height: 30px;
    }
}
.advantages-body {
    margin-top: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.text {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    h6 {
        margin-left: 100px;
        margin-bottom: 30px;
        font-size: 20px;
        line-height: 30px;
        color: $black;
        font-weight: 600;
        margin-top: 40px;
    }
    p {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        margin: 0 20px 20px 0;
        font-size: 18px;
        line-height: 24px;
        img {
            display: block;
            margin-right: 10px;
            transform: scale(90%) translateY(5px);
        }
    }
}
.advantages-image {
    width: calc(1440px - 60%);
    height: 1140px;
    background: url(../assets/adv-block.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.image {
        transform: scale(0);
        transition: all 0.4s ease-in-out;
}
.item {
    position: absolute;
    top: 0;
    right: 0;
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    transform: translateX(120%);
    transition: all 0.5s ease-in-out;
}
.step-active {
    transform: translateX(0);
    transition: all 0.5s ease-in-out;
}
.button-active {
    margin-bottom: 8px;
    border-bottom: 2px solid #8E1A11;
}
.image-active {
    transform: scale(100%);
    transition: all 0.4s ease-in-out;
}
#map {
    width: 100%;
    height: 500px;
    position: relative;
}
.info {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    z-index: 10;
    width: 40%;
    height: 85%;
    padding: 20px;
    background: rgba(3, 11, 70, 0.8);
    backdrop-filter: blur(2px);
    h5 {
        font-weight: 600;
        font-size: 26px;
        line-height: 32px;
        text-transform: uppercase;
        color: $white;
        margin-bottom: 10px;
    }
    p {
        margin-bottom: 10px;
        a {
            font-size: 18px;
            line-height: 24px;
            color: $white;
        }
    }
    p {
        font-size: 20px;
        line-height: 26px;
        color: $white;
    }
    form {
        margin-top: 20px;
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        input {
            height: 40px;
            margin-bottom: 10px;
            width: 100%;
            padding-left: 10px;
        }
        button {
            width: 100%;
            background: #8E1A11;
            border-radius: 15px;
            padding: 10px;
            color: $white;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 20px;
            line-height: 26px;
            transition: all 0.4s ease-in-out;
            &:hover {
                transform: scale(107%);
                transition: all 0.4s ease-in-out;
            }
        }
        p {
            margin: 20px 0 0 0;
            font-size: 12px;
            line-height: 14px;
            color: $white;
        }
    }
}
[class*="map-copyrights-promo"], [class*="copyright__wrap"], [class*="zoom"], [class*="float-button"] {
    display: none !important;
}
.modal-layout {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    display: block;
    padding-top: 50px;
    background: rgba(0, 0, 0, 0.7);
    overflow: scroll;
    display: none;
}
.modal {
    background: $white;
    width: 80%;
    height: fit-content;
    border: 2px solid $blue;
    margin: 0 auto;
    position: relative;
    .cross {
        position: absolute;
        top: 6px;
        right: 10px;
        transition: all 0.4s ease-in-out;
        &:hover {
            transform: scale(120%);
            transition: all 0.4s ease-in-out;
        }
    }
    p {
        margin: 30px auto 30px 60px;
        font-size: 22px;
        line-height: 28px;
        width: 70%;
    }
    h6 {
        font-weight: 600;
        margin: 20px auto 20px 60px;
        color: $blue;
        font-size: 24px;
        line-height: 30px;
    }
    .offer {
        padding: 40px;
        .offer-text-block {
            p {
                width: 100%;
                margin: 20px 0 0 0;
                font-size: 20px;
                line-height: 26px;
                color: $white;
            }
        }
        .offer-form {
            p {
                   margin: 10px 0 0 0;
            }
        }
    }
}
.head {
    background: url(../assets/modal1-head.png);
    padding: 60px 0 60px 0;
    h5 {
        margin-top: 60px;
        background: #FFFFFF;
        padding: 12px 190px 12px 60px;
        width: fit-content;
        font-weight: 600;
        font-size: 32px;
        line-height: 38px;
        text-transform: uppercase;
        color: $blue;
    }
    p {
        width: 70%;
        margin: 20px auto 20px 60px;
        color: $white;
        font-size: 24px;
        line-height: 30px;
        font-weight: 600;
    }
}
.adv {
    width: 100%;
    p {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        margin: 0 auto 20px 60px;
        img {
            display: block;
            margin-right: 15px;
            transform: scale(80%);
        }
    }
}
.offer {
    padding: 60px;
    width: 100%;
    margin-top: 40px;
    background: url(../assets/offer-back.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.offer-text-block {
    width: 40%;
    h5 {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 32px;
        line-height: 40px;
        color: $white;
    }
    p {
        margin-top: 20px;
        font-size: 24px;
        line-height: 30px;
        color: $white;
    }
}
.offer-form {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    input {
        height: 45px;
        width: 90%;
        margin-bottom: 15px;
        padding: 10px;
    }
    button {
        background: #8E1A11;
        border-radius: 15px;
        width: 90%;
        color: $white;
        font-size: 24px;
        text-transform: uppercase;
        line-height: 30px;
        padding: 12px;
        margin-top: 20px;
        transition: all 0.4s ease-in-out;
        &:hover {
            transform: scale(107%);
            transition: all 0.4s ease-in-out;
        }
    }
    p {
        margin-top: 15px;
        width: 90%;
        font-size: 12px;
        line-height: 14px;
        color: $white;
    }
}
.modal-active {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    display: block;
    padding-top: 50px;
    background: rgba(0, 0, 0, 0.7);
    overflow: scroll;
    display: block;
}
.menu {
    position: absolute;
    top: 10px;
    right: 10px;
}
.line1 {
    transform: rotateZ(-45deg) translateX(-55%);
    transition: all 0.3s ease-in-out;
}
.line2 {
    transform: translateX(-40px) scale(0);
    transition: all 0.3s ease-in-out;
}
.line3 {
    transform: rotateZ(45deg) translateX(-55%);
    transition: all 0.3s ease-in-out;
}
@media (min-width: 1200px) and (max-width: 1439px) {
    .logo {
        transform: scale(80%);
        margin-left: 10px;
    }
    nav {
        a {
            margin: 10px;
            font-size: 12px;
        }
    }
    .contacts {
        margin-right: 10px;
        .tel, .mail {
            font-size: 12px;
        }
    }
    .services {
        .products {
            width: 100%;
            .prod {
                .prod-p {
                    font-size: 20px;
                }
            }
        }
    }
    .adv {
        p {
            font-size: 20px;
        }
    }
    .offer-text-block {
        width: 45%;
    }
    .offer-form {
        width: 45%;
    }
    .about {
        p {
            width: 80%;
        }
    }
    .item {
        .text{
            p {
                width: 90%;
            }
        }
    }
    .advantages-image {
        transform: scale(90%);
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .header {
        padding: 12px 0;
        .logo {
            display: none;
        }
        nav a {
            font-size: 12px;
        }
    }
    .banner {
        .form {
            button {
                font-size: 20px;
            }
        }
    }
    .contacts {
        justify-content: space-between;
        .tel a, .mail a {
            margin: 5px;
            font-size: 12px;
        }
        .tel img, .mail img {
            transform: scale(80%);
        }
    }
    .offer-text {
        h1 {
            font-size: 36px;
        }
        p {
            font-size: 24px;
        }
    }
    .services {
        h2 {
            padding: 12px 190px 12px 40px;
        }
        p {
            width: 85%;
            font-size: 20px;
        }
        .products {
            width: 100%;
            .prod {
                .prod-p {
                    font-size: 18px;
                }
                .open-modal {
                    font-size: 20px;
                }
            }
        }
    }
    .about {
        p {
            width: 85%;
            font-size: 20px;
        }
        a {
            font-size: 20px;
        }
    }
    .worksteps {
        p {
            font-size: 20px;
            width: 80%;
        }
    }
    .item {
        .text {
            p {
                width: 90%;
                font-size: 18px;
                line-height: 24px;
                margin: 15px 0 0 0;
            }
        }
    }
    .offer {
        .offer-text-block {
            width: 50%;
        }
        .offer-from {
            width: 50%;
        }
    }
    .advantages {
        p {
            font-size: 20px;
            width: 80%;
        }
        .advantages-body {
            .text {
                width: 95%;
                margin: 0 auto;
                p {
                    width: 100%;
                }
            }
        }
    }
    .advantages-image {
        display: none;
    }
    .info form {
        width: 90%;
        p {
            margin: 10px 0 0 0;
        }
    }
    .footer {
        padding: 12px 0;
        .logo {
            display: none;
        }
        nav a {
            font-size: 12px;
        }
    }
    .offer-form button {
        margin-top: 10px;
    }
    .modal {
        width: 90%;
    }
    .adv p {
        font-size: 18px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .container {
        .line {
            transition: all 0.3s ease-in-out;
        }
        overflow: hidden;
        .header {
            position: relative;
            justify-content: flex-start;
            .logo {
                margin-left: 0;
                transform: scale(70%);
            }
        }
    }

    nav {
        position: absolute;
        top: 80px;
        right: 0;
        background: #F4F5F6;
        width: 50%;
        display: block;
        transform: translateX(100%);
        z-index: 2;
        transition: all 0.4s ease-in-out;
        a {
            display: block;
            width: fit-content;
            margin: 30px auto;
        }
    }
    .nav-active {
        z-index: 5;
        position: absolute;
        top: 80px;
        right: 0;
        background: $white;
        width: 50%;
        display: block;
        transform: translateX(0);
        transition: all 0.4s ease-in-out;
    }
    .banner {
        .form {
            width: 50%;
            input {
                height: 38px;
                margin: 5px 0;
            }
            button {
                margin-top: 12px;
                font-size: 16px;
            }
        }
    }
    .offer-text {
        p {
            font-size: 18px;
            line-height: 24px;
            font-weight: 400;
        }
        h1 {
            font-size: 34px;
            padding: 10px;
        }
    }
    .contacts {
        .tel a, .mail a {
            margin: 5px;
        }
    }
    .services {
        p {
            width: 80%;
            font-size: 16px;
            line-height: 22px;
        }
        .products {
            width: 100%;
        }
    }
    .prod {
        width: 45%;
        height: 250px;
        .prod-p {
            font-size: 16px;
            line-height: 22px;
        }
        .prod-h3 {
            font-size: 26px;
            line-height: 32px;
        }
        .open-modal {
            height: 50px;
            font-size: 20px;
        }
    }
    .about {
        p {
            font-size: 16px;
            line-height: 22px;
            width: 80%;
        }
        a {
            font-size: 20px;
            line-height: 26px;
        }
    }
    .worksteps {
        p {
            font-size: 16px;
            width: 80%;
            line-height: 22px;
        }
    }
    .item {
        .text {
            h4 {
                font-size: 18px;
                line-height: 24px;
            }
            p {
                width: 95%;
                font-size: 16px;
                line-height: 22px;
                margin-top: 1px;
            }
        }
        .image {
            width: 50%;
        }
    }
    .offer {
        padding: 30px;
        .offer-text-block {
            width: 50%;
            h5 {
                font-size: 26px;
                line-height: 32px;
            }
            p {
                font-size: 18px;
                line-height: 24px;
            }
        }
        .offer-form {
            width: 50%;
            button {
                margin-top: 0;
                font-size: 20px;
            }
        }
    }
    .advantages {
        p {
            font-size: 18px;
            line-height: 26px;
            width: 80%;
        }
        .advantages-body {
            .text {
                width: 100%;
                p {
                    width: 100%;
                    font-size: 16px;
                    line-height: 22px;
                    img {
                        transform: scale(50%);
                    }
                }
            }
        }
    }
    .advantages-image {
        display: none;
    }
    #map {
        margin-top: 160px;
        .info {
            top: -120px;
            transform: translateY(0);
            width: 60%;
            height: fit-content;
            padding: 8px;
            h5 {
                font-size: 18px;
                line-height: 22px;
                margin-bottom: 8px;
            }
            p {
                font-size: 14px;
                line-height: 20px;
                display: flex;
                a {
                    font-size: 14px;
                    line-height: 20px;
                    margin-right: 8px;
                }
            }
            form {
                input {
                    height: 30px;
                }
                button {
                    padding: 4px;
                    font-size: 14px;
                    line-height: 18px;
                    border-radius: 10px;
                }
                p {
                    font-size: 10px;
                    line-height: 14px;
                }
            }
        }
    }
    .footer {
        .logo {
            transform: scale(70%);
            margin: 0;
        }
        nav {
            display: none;
        }
    }
    .modal {
        .head {
            padding: 30px 0;
        }
        width: calc(100% - 40px);
        p {
            width: 90%;
            font-size: 18px;
            line-height: 24px;
        }
        .adv {
            width: 100%;
            p {
                font-size: 16px;
                line-height: 22px;
                margin: 10px 0;

                img {
                    width: 60px;;
                }
            }

        }
        .offer {
            padding: 16px;
            .offer-text-block {
                p {
                    font-size: 16px;
                    line-height: 22px;
                }
            }
            .offer-form {
                p {
                    font-size: 12px;
                    line-height: 14px;
                }
                input {
                    height: 35px;
                }
                button {
                    font-size: 18px;
                    line-height: 24px;
                    padding: 8px;
                }
            }
        }
    }
}
@media (min-width: 576px) and (max-width: 767px) {
    .container {
        .line {
            transition: all 0.3s ease-in-out;
        }
        overflow: hidden;
        .header {
            position: relative;
            justify-content: flex-start;
            .logo {
                margin-left: -30px;
                transform: scale(70%);
            }
        }
    }
    nav {
        position: absolute;
        top: 80px;
        right: 0;
        background: #F4F5F6;
        width: 50%;
        display: block;
        transform: translateX(100%);
        z-index: 2;
        transition: all 0.4s ease-in-out;
        a {
            display: block;
            width: fit-content;
            margin: 30px auto;
        }
    }
    .nav-active {
        z-index: 5;
        position: absolute;
        top: 80px;
        right: 0;
        background: $white;
        width: 50%;
        display: block;
        transform: translateX(0);
        transition: all 0.4s ease-in-out;
    }
    .banner {
        flex-direction: column;
        padding: 20px;
        background-position: center;
        .offer-text {
            width: 90%;
        }
        .form {
            margin-top: 20px;
            width: 90%;
            align-items: flex-start;
            input {
                height: 38px;
                margin: 5px 0;
            }
            button {
                margin-top: 12px;
                font-size: 16px;
            }
        }
    }
    .offer-text {
        p {
            margin: 10px 0 0 0;
            font-size: 18px;
            line-height: 24px;
            font-weight: 400;
        }
        h1 {
            font-size: 34px;
            padding: 10px;
            margin: 0;
            width: 100%;
        }
    }
    .contacts {
        .tel a, .mail a {
            margin: 5px;
        }
    }
    .services {
        p {
            width: 90%;
            margin: 20px auto;
            font-size: 16px;
            line-height: 22px;
        }
        .products {
            flex-direction: column;
            width: 100%;
        }
    }
    .prod {
        width: 80%;
        height: 250px;
        margin-bottom: 20px;
        .prod-p {
            font-size: 16px;
            line-height: 22px;
        }
        .prod-h3 {
            font-size: 26px;
            line-height: 32px;
        }
        .open-modal {
            height: 50px;
            font-size: 20px;
        }
    }
    .about {
        background-position: center;
        p {
            font-size: 16px;
            line-height: 22px;
            width: 90%;
            margin: 20px auto 20px 20px;
        }
        a {
            font-size: 16px;
            line-height: 22px;
            margin: 0 auto 20px 20px;
        }
    }
    .worksteps {
        p {
            font-size: 16px;
            width: 80%;
            line-height: 22px;
        }
    }
    .steps-box {
        flex-direction: column;
        .count {
            flex-direction: row;
            width: 50%;
        }
    }
    .item {
        top: 40px;
        width: 100%;
        flex-direction: column;
        .text {
            h4 {
                font-size: 18px;
                line-height: 24px;
            }
            p {
                width: 95%;
                font-size: 16px;
                line-height: 22px;
                margin: 10px 0;
            }
        }
        .image {
            width: 100%;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    .offer {
        flex-direction: column;
        padding: 30px;
        .offer-text-block {
            width: 90%;
            h5 {
                font-size: 26px;
                line-height: 32px;
            }
            p {
                font-size: 18px;
                line-height: 24px;
            }
        }
        .offer-form {
            background-size: contain;
            background-position: center;
            margin-top: 10px;
            width: 90%;
            justify-content: flex-start;
            align-items: flex-start;
            button {
                margin-top: 0;
                font-size: 20px;
            }
        }
    }
    .advantages {
        p {
            font-size: 18px;
            line-height: 26px;
            width: 80%;
        }
        h4 {
            padding: 12px 20px 12px 60px;
        }
        .advantages-body {
            .text {
                width: 100%;
                p {
                    width: 90%;
                    margin: 10px auto;
                    font-size: 16px;
                    line-height: 22px;
                    img {
                        transform: translateY(8px);
                        width: 40px;
                    }
                }
            }
        }
    }
    .advantages-image {
        display: none;
    }
    #map {
        margin-top: 260px;
        .info {
            top: -220px;
            transform: translateY(0);
            width: 80%;
            height: fit-content;
            padding: 8px;
            h5 {
                font-size: 18px;
                line-height: 22px;
                margin-bottom: 8px;
            }
            p {
                font-size: 14px;
                line-height: 20px;
                display: flex;
                a {
                    font-size: 14px;
                    line-height: 20px;
                    margin-right: 8px;
                }
            }
            form {
                input {
                    height: 30px;
                }
                button {
                    padding: 4px;
                    font-size: 14px;
                    line-height: 18px;
                    border-radius: 10px;
                }
                p {
                    font-size: 10px;
                    line-height: 14px;
                }
            }
        }
    }
    .footer {
        .logo {
            transform: scale(70%);
            margin: 0;
        }
        nav {
            display: none;
        }
    }
    .modal {
        .head {
            padding: 30px 0;
        }
        width: calc(100% - 40px);
        p {
            margin: 20px auto 20px 10px;
            width: 90%;
            font-size: 18px;
            line-height: 24px;
        }
        .adv {
            width: 100%;
            p {
                font-size: 16px;
                line-height: 22px;
                margin: 10px 0;

                img {
                    width: 60px;;
                }
            }

        }
        .offer {
            padding: 16px;
            .offer-text-block {
                p {
                    font-size: 16px;
                    line-height: 22px;
                }
            }
            .offer-form {
                p {
                    font-size: 12px;
                    line-height: 14px;
                }
                input {
                    height: 35px;
                }
                button {
                    font-size: 18px;
                    line-height: 24px;
                    padding: 8px;
                }
            }
        }
    }
}

@media (min-width: 320px) and (max-width: 576px) {
    .container {
        .line {
            transition: all 0.3s ease-in-out;
        }
        overflow: hidden;
        .header {
            position: relative;
            justify-content: flex-start;
            .logo {
                margin-left: -30px;
                transform: scale(70%);
            }
            .contacts {
                .tel, .mail{
                    display: none;
                }
            }
        }
    }
    nav {
        position: absolute;
        top: 80px;
        right: 0;
        background: #F4F5F6;
        width: 100%;
        display: block;
        transform: translateX(100%);
        z-index: 2;
        transition: all 0.4s ease-in-out;
        a {
            display: block;
            width: fit-content;
            margin: 30px auto;
        }
    }
    .nav-active {
        z-index: 5;
        position: absolute;
        top: 80px;
        right: 0;
        background: $white;
        width: 100%;
        display: block;
        transform: translateX(0);
        transition: all 0.4s ease-in-out;
    }
    .banner {
        flex-direction: column;
        padding: 10px;
        background-position: center;
        .offer-text {
            width: 90%;
        }
        .form {
            margin-top: 20px;
            width: 90%;
            align-items: flex-start;
            input {
                height: 38px;
                margin: 5px 0;
            }
            button {
                margin-top: 12px;
                font-size: 16px;
            }
            p {
                width: 100%;
            }
        }
    }
    .offer-text {
        width: 100%;
        p {
            margin: 10px 0 0 0;
            font-size: 18px;
            line-height: 24px;
            font-weight: 400;
        }
        h1 {
            font-size: 24px;
            line-height: 30px;
            padding: 10px;
            margin: 0;
            width: 100%;
        }
    }
    .contacts {
        .tel a, .mail a {
            display: none;
        }
    }
    .services {
        h2 {
            font-size: 20px;
            padding: 10px;
            span {
                font-size: 20px;
                line-height: 24px;
            }
        }
        p {
            width: 90%;
            margin: 20px auto;
            font-size: 16px;
            line-height: 22px;
        }
        .products {
            flex-direction: column;
            width: 100%;
        }
    }
    .prod {
        width: 90%;
        height: 250px;
        margin-bottom: 20px;
        .prod-p {
            font-size: 16px;
            line-height: 22px;
        }
        .prod-h3 {
            font-size: 26px;
            line-height: 32px;
        }
        .open-modal {
            height: 50px;
            font-size: 20px;
        }
    }
    .about {
        background-position: center;
        h3 {
            padding: 10px;
            margin-top: 15px;
            span {
                font-size: 20px;
                line-height: 24px;
            }
        }
        p {
            font-size: 16px;
            line-height: 22px;
            width: 90%;
            margin: 20px auto;
            text-align: center;
        }
        a {
            font-size: 16px;
            line-height: 22px;
            margin: 10px auto;
            width: fit-content;
        }
    }
    .worksteps {
        p {
            font-size: 16px;
            width: 80%;
            line-height: 22px;
            margin: 10px auto;
            text-align: center;
        }
        h3 {
            padding: 10px;
            span {
                font-size: 20px;
                line-height: 24px;
            }
        }
    }
    .steps-box {
        flex-direction: column;
        .count {
            flex-direction: row;
            width: 100%;
        }
    }
    .item {
        top: 40px;
        width: 100%;
        flex-direction: column;
        .text {
            margin-top: 20px;
            h4 {
                font-size: 18px;
                line-height: 24px;
                width: fit-content;
                margin: 0 auto;
            }
            p {
                width: 95%;
                font-size: 16px;
                line-height: 22px;
                margin: 10px 0;
            }
        }
        .image {
            width: 100%;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    .offer {
        flex-direction: column;
        padding: 15px;
        .offer-text-block {
            width: 100%;
            h5 {
                text-align: center;
                font-size: 26px;
                line-height: 32px;
            }
            p {
                text-align: center;
                font-size: 18px;
                line-height: 24px;
            }
        }
        .offer-form {
            background-size: contain;
            background-position: center;
            margin-top: 10px;
            width: 100%;
            justify-content: flex-start;
            align-items: center;
            button {
                margin-top: 0;
                font-size: 18px;
            }
            p {
                font-size: 10px;
                text-align: center;
            }
        }
    }
    .advantages {
        p {
            font-size: 18px;
            line-height: 26px;
            width: 90%;
            margin: 10px auto;
            text-align: center;
        }
        h4 {
            padding: 10px;
            span {
                font-size: 20px;
                line-height: 24px;
            }
        }
        .advantages-body {
            .text {
                width: 100%;
                h6 {
                    margin: 10px auto;
                }
                p {
                    width: 90%;
                    margin: 10px auto;
                    font-size: 16px;
                    line-height: 22px;
                    text-align: left;
                    img {
                        display: none;
                    }
                }
            }
        }
    }
    .advantages-image {
        display: none;
    }
    #map {
        margin-top: 260px;
        .info {
            top: -190px;
            transform: translateY(0);
            width: 100%;
            height: fit-content;
            padding: 8px;
            h5 {
                font-size: 18px;
                line-height: 22px;
                margin-bottom: 8px;
            }
            p {
                font-size: 14px;
                line-height: 20px;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                a {
                    font-size: 14px;
                    line-height: 20px;
                    margin-right: 8px;
                }
            }
            form {
                width: 100%;
                input {
                    width: 90%;
                    height: 30px;
                }
                button {
                    width: 90%;
                    padding: 8px;
                    font-size: 14px;
                    line-height: 18px;
                    border-radius: 10px;
                }
                p {
                    font-size: 10px;
                    line-height: 14px;
                }
            }
        }
    }
    .footer {
        justify-content: center;
        .logo {
            display: none;
        }
        nav {
            display: none;
        }
        .contacts {
            align-items: center;
            margin: 0 auto;
            .tel a, .mail a {
                display: flex;
            }
        }
    }
    .modal-active {
        padding-top: 10px;
    }
    .modal {
        width: calc(100% - 20px);
        .cross {
            width: 70px;
            top: 0;
            right: 0;
            img {
                width: 100%;
                height: 100%;
                object-fit: fill;
            }
        }
        .head {
            padding: 20px 0;
            h5 {
                padding: 10px;
            }
        }
        h6 {
            margin: 10px auto 10px 10px;
        }
        p {
            margin: 20px auto 20px 10px;
            width: 90%;
            font-size: 14px;
            line-height: 20px;
        }
        .adv {
            width: 100%;
            p {
                font-size: 14px;
                line-height: 20px;
                margin: 10px 5px;

                img {
                    display: none;
                }
            }

        }
        .offer {
            padding: 8px;
            .offer-text-block {
                p {
                    font-size: 16px;
                    line-height: 22px;
                }
            }
            .offer-form {
                p {
                    font-size: 12px;
                    line-height: 14px;
                }
                input {
                    height: 35px;
                }
                button {
                    font-size: 18px;
                    line-height: 24px;
                    padding: 8px;
                }
            }
        }
    }
}