body {
  background: #F4F5F6;
  width: 100%;
  padding: 0;
  margin: 0;
}
body * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
body a {
  display: block;
  text-decoration: none;
}
body button {
  border: none;
  outline: none;
}
body input {
  border: none;
  outline: none;
}
body input:focus {
  border: none;
  outline: none;
}

.container {
  width: 100%;
  overflow: hidden;
}

.main {
  width: 100%;
}

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.footer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.contacts {
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.tel, .mail {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.tel a, .mail a {
  color: #070606;
  margin: 10px;
}

.logo {
  margin-left: 20px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav a {
  margin: 0 20px;
  padding: 3px;
  border-bottom: 1px solid #f2f2f2;
  color: #070606;
  font-size: 14px;
  font-weight: 600;
  transition: all 0.4s ease-in-out;
}
nav a:hover {
  transform: scale(107%);
  border-bottom: 3px solid #8E1A11;
  padding-bottom: 3px;
  transition: all 0.4s ease-in-out;
}

.banner {
  background: url(../assets/header-back.png);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 50px 50px 0;
}
.banner .form {
  width: 47%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.banner .form input {
  height: 45px;
  width: 80%;
  margin: 10px 0;
  padding-left: 10px;
}
.banner .form button {
  margin-top: 25px;
  width: 80%;
  background: #8E1A11;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  padding: 10px;
  outline: none;
  color: #f2f2f2;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  transition: all 0.4s ease-in-out;
}
.banner .form button:hover {
  transition: all 0.4s ease-in-out;
  transform: scale(107%);
}
.banner .form p {
  width: 80%;
  font-size: 12px;
  line-height: 14px;
  color: #DDD8D8;
  margin-top: 10px;
}

.offer-text {
  width: 53%;
}
.offer-text h1 {
  width: 95%;
  text-align: center;
  padding: 20px;
  font-size: 44px;
  line-height: 58px;
  text-transform: uppercase;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2px);
}
.offer-text h1 span {
  color: #8E1A11;
  font-weight: 700;
}
.offer-text h1 span:nth-child(1) {
  color: #030B46;
}
.offer-text p {
  width: 95%;
  color: #f2f2f2;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  margin: 7px 0 0 20px;
}

.translated {
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}

.services {
  margin-top: 40px;
  overflow: hidden;
  width: 100%;
}
.services h2 {
  background-color: #FFFFFF;
  width: fit-content;
  padding: 12px 190px 12px 20px;
}
.services h2 span {
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
  color: #030B46;
  text-transform: uppercase;
}
.services h2 span:nth-child(2) {
  color: #8E1A11;
}
.services p {
  width: 70%;
  font-size: 24px;
  line-height: 30px;
  color: #070606;
  margin: 20px 0 20px 40px;
}
.services .products {
  width: 90%;
  margin: 60px auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.prod {
  position: relative;
  background: url(../assets/service-1.png);
  height: fit-content;
  max-height: 300px;
  width: 40%;
  border: 2px solid #8E1A11;
  padding: 30px 0;
}
.prod .prod-h3 {
  width: 100%;
  text-align: center;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
}
.prod .prod-p {
  width: 90%;
  font-size: 24px;
  line-height: 30px;
  color: #f2f2f2;
  text-align: center;
  margin: 0;
  font-weight: 400;
  margin: 20px auto 110px;
}
.prod .open-modal {
  position: absolute;
  color: #f2f2f2;
  text-align: center;
  background: #8E1A11;
  bottom: 0;
  width: 100%;
  left: 0;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}
.prod .open-modal:hover {
  transition: all 0.4s ease-in-out;
  text-decoration: underline;
}

.prod:nth-child(2) {
  background: url(../assets/service-2.png);
}

.about {
  width: 100%;
  border: 2px solid #8E1A11;
  background: url(../assets/about-back.png);
}
.about h3 {
  margin-top: 60px;
  background: #FFFFFF;
  padding: 12px 190px 12px 60px;
  width: fit-content;
}
.about h3 span {
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
  text-transform: uppercase;
  color: #030B46;
}
.about h3 span:nth-child(2) {
  color: #8E1A11;
}
.about p {
  width: 70%;
  margin: 20px auto 20px 60px;
  color: #f2f2f2;
  font-size: 24px;
  line-height: 30px;
}
.about a {
  width: 33%;
  padding: 16px;
  background: #8E1A11;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  margin: 20px auto 60px 60px;
  color: #f2f2f2;
  text-align: center;
  font-size: 24px;
  line-height: 30px;
  transition: all 0.4s ease-in-out;
}
.about a:hover {
  transition: all 0.4s ease-in-out;
  transform: scale(107%);
}

.worksteps {
  width: 100%;
}
.worksteps h3 {
  margin-top: 60px;
  background: #FFFFFF;
  padding: 12px 190px 12px 60px;
  width: fit-content;
}
.worksteps h3 span {
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
  text-transform: uppercase;
  color: #030B46;
}
.worksteps h3 span:nth-child(2) {
  color: #8E1A11;
}
.worksteps p {
  width: 70%;
  margin: 20px auto 20px 60px;
  color: #070606;
  font-size: 24px;
  line-height: 30px;
}

.steps-box {
  margin: 40px auto;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
  overflow: hidden;
}
.steps-box .count {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 10%;
}
.steps-box .count p {
  margin: 0 0 10px 0;
  cursor: pointer;
}

.item .text {
  width: 100%;
}
.item .text h4 {
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: #030B46;
}
.item .text p {
  font-size: 24px;
  line-height: 30px;
  margin: 30px 0 0 0;
  color: #070606;
  width: 70%;
}

.advantages {
  width: 100%;
  margin: 50px auto;
}
.advantages h4 {
  margin-top: 60px;
  background: #FFFFFF;
  padding: 12px 190px 12px 60px;
  width: fit-content;
}
.advantages h4 span {
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
  text-transform: uppercase;
  color: #030B46;
}
.advantages h4 span:nth-child(2) {
  color: #8E1A11;
}
.advantages p {
  width: 70%;
  margin: 20px auto 20px 60px;
  color: #070606;
  font-size: 24px;
  line-height: 30px;
}

.advantages-body {
  margin-top: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.text {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.text h6 {
  margin-left: 100px;
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 30px;
  color: #070606;
  font-weight: 600;
  margin-top: 40px;
}
.text p {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0 20px 20px 0;
  font-size: 18px;
  line-height: 24px;
}
.text p img {
  display: block;
  margin-right: 10px;
  transform: scale(90%) translateY(5px);
}

.advantages-image {
  width: calc(1440px - 60%);
  height: 1140px;
  background: url(../assets/adv-block.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.image {
  transform: scale(0);
  transition: all 0.4s ease-in-out;
}

.item {
  position: absolute;
  top: 0;
  right: 0;
  width: 85%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  transform: translateX(120%);
  transition: all 0.5s ease-in-out;
}

.step-active {
  transform: translateX(0);
  transition: all 0.5s ease-in-out;
}

.button-active {
  margin-bottom: 8px;
  border-bottom: 2px solid #8E1A11;
}

.image-active {
  transform: scale(100%);
  transition: all 0.4s ease-in-out;
}

#map {
  width: 100%;
  height: 500px;
  position: relative;
}

.info {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  z-index: 10;
  width: 40%;
  height: 85%;
  padding: 20px;
  background: rgba(3, 11, 70, 0.8);
  backdrop-filter: blur(2px);
}
.info h5 {
  font-weight: 600;
  font-size: 26px;
  line-height: 32px;
  text-transform: uppercase;
  color: #f2f2f2;
  margin-bottom: 10px;
}
.info p {
  margin-bottom: 10px;
}
.info p a {
  font-size: 18px;
  line-height: 24px;
  color: #f2f2f2;
}
.info p {
  font-size: 20px;
  line-height: 26px;
  color: #f2f2f2;
}
.info form {
  margin-top: 20px;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.info form input {
  height: 40px;
  margin-bottom: 10px;
  width: 100%;
  padding-left: 10px;
}
.info form button {
  width: 100%;
  background: #8E1A11;
  border-radius: 15px;
  padding: 10px;
  color: #f2f2f2;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  transition: all 0.4s ease-in-out;
}
.info form button:hover {
  transform: scale(107%);
  transition: all 0.4s ease-in-out;
}
.info form p {
  margin: 20px 0 0 0;
  font-size: 12px;
  line-height: 14px;
  color: #f2f2f2;
}

[class*=map-copyrights-promo], [class*=copyright__wrap], [class*=zoom], [class*=float-button] {
  display: none !important;
}

.modal-layout {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  display: block;
  padding-top: 50px;
  background: rgba(0, 0, 0, 0.7);
  overflow: scroll;
  display: none;
}

.modal {
  background: #f2f2f2;
  width: 80%;
  height: fit-content;
  border: 2px solid #030B46;
  margin: 0 auto;
  position: relative;
}
.modal .cross {
  position: absolute;
  top: 6px;
  right: 10px;
  transition: all 0.4s ease-in-out;
}
.modal .cross:hover {
  transform: scale(120%);
  transition: all 0.4s ease-in-out;
}
.modal p {
  margin: 30px auto 30px 60px;
  font-size: 22px;
  line-height: 28px;
  width: 70%;
}
.modal h6 {
  font-weight: 600;
  margin: 20px auto 20px 60px;
  color: #030B46;
  font-size: 24px;
  line-height: 30px;
}
.modal .offer {
  padding: 40px;
}
.modal .offer .offer-text-block p {
  width: 100%;
  margin: 20px 0 0 0;
  font-size: 20px;
  line-height: 26px;
  color: #f2f2f2;
}
.modal .offer .offer-form p {
  margin: 10px 0 0 0;
}

.head {
  background: url(../assets/modal1-head.png);
  padding: 60px 0 60px 0;
}
.head h5 {
  margin-top: 60px;
  background: #FFFFFF;
  padding: 12px 190px 12px 60px;
  width: fit-content;
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
  text-transform: uppercase;
  color: #030B46;
}
.head p {
  width: 70%;
  margin: 20px auto 20px 60px;
  color: #f2f2f2;
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
}

.adv {
  width: 100%;
}
.adv p {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin: 0 auto 20px 60px;
}
.adv p img {
  display: block;
  margin-right: 15px;
  transform: scale(80%);
}

.offer {
  padding: 60px;
  width: 100%;
  margin-top: 40px;
  background: url(../assets/offer-back.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.offer-text-block {
  width: 40%;
}
.offer-text-block h5 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  color: #f2f2f2;
}
.offer-text-block p {
  margin-top: 20px;
  font-size: 24px;
  line-height: 30px;
  color: #f2f2f2;
}

.offer-form {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.offer-form input {
  height: 45px;
  width: 90%;
  margin-bottom: 15px;
  padding: 10px;
}
.offer-form button {
  background: #8E1A11;
  border-radius: 15px;
  width: 90%;
  color: #f2f2f2;
  font-size: 24px;
  text-transform: uppercase;
  line-height: 30px;
  padding: 12px;
  margin-top: 20px;
  transition: all 0.4s ease-in-out;
}
.offer-form button:hover {
  transform: scale(107%);
  transition: all 0.4s ease-in-out;
}
.offer-form p {
  margin-top: 15px;
  width: 90%;
  font-size: 12px;
  line-height: 14px;
  color: #f2f2f2;
}

.modal-active {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  display: block;
  padding-top: 50px;
  background: rgba(0, 0, 0, 0.7);
  overflow: scroll;
  display: block;
}

.menu {
  position: absolute;
  top: 10px;
  right: 10px;
}

.line1 {
  transform: rotateZ(-45deg) translateX(-55%);
  transition: all 0.3s ease-in-out;
}

.line2 {
  transform: translateX(-40px) scale(0);
  transition: all 0.3s ease-in-out;
}

.line3 {
  transform: rotateZ(45deg) translateX(-55%);
  transition: all 0.3s ease-in-out;
}

@media (min-width: 1200px) and (max-width: 1439px) {
  .logo {
    transform: scale(80%);
    margin-left: 10px;
  }
  nav a {
    margin: 10px;
    font-size: 12px;
  }
  .contacts {
    margin-right: 10px;
  }
  .contacts .tel, .contacts .mail {
    font-size: 12px;
  }
  .services .products {
    width: 100%;
  }
  .services .products .prod .prod-p {
    font-size: 20px;
  }
  .adv p {
    font-size: 20px;
  }
  .offer-text-block {
    width: 45%;
  }
  .offer-form {
    width: 45%;
  }
  .about p {
    width: 80%;
  }
  .item .text p {
    width: 90%;
  }
  .advantages-image {
    transform: scale(90%);
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .header {
    padding: 12px 0;
  }
  .header .logo {
    display: none;
  }
  .header nav a {
    font-size: 12px;
  }
  .banner .form button {
    font-size: 20px;
  }
  .contacts {
    justify-content: space-between;
  }
  .contacts .tel a, .contacts .mail a {
    margin: 5px;
    font-size: 12px;
  }
  .contacts .tel img, .contacts .mail img {
    transform: scale(80%);
  }
  .offer-text h1 {
    font-size: 36px;
  }
  .offer-text p {
    font-size: 24px;
  }
  .services h2 {
    padding: 12px 190px 12px 40px;
  }
  .services p {
    width: 85%;
    font-size: 20px;
  }
  .services .products {
    width: 100%;
  }
  .services .products .prod .prod-p {
    font-size: 18px;
  }
  .services .products .prod .open-modal {
    font-size: 20px;
  }
  .about p {
    width: 85%;
    font-size: 20px;
  }
  .about a {
    font-size: 20px;
  }
  .worksteps p {
    font-size: 20px;
    width: 80%;
  }
  .item .text p {
    width: 90%;
    font-size: 18px;
    line-height: 24px;
    margin: 15px 0 0 0;
  }
  .offer .offer-text-block {
    width: 50%;
  }
  .offer .offer-from {
    width: 50%;
  }
  .advantages p {
    font-size: 20px;
    width: 80%;
  }
  .advantages .advantages-body .text {
    width: 95%;
    margin: 0 auto;
  }
  .advantages .advantages-body .text p {
    width: 100%;
  }
  .advantages-image {
    display: none;
  }
  .info form {
    width: 90%;
  }
  .info form p {
    margin: 10px 0 0 0;
  }
  .footer {
    padding: 12px 0;
  }
  .footer .logo {
    display: none;
  }
  .footer nav a {
    font-size: 12px;
  }
  .offer-form button {
    margin-top: 10px;
  }
  .modal {
    width: 90%;
  }
  .adv p {
    font-size: 18px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    overflow: hidden;
  }
  .container .line {
    transition: all 0.3s ease-in-out;
  }
  .container .header {
    position: relative;
    justify-content: flex-start;
  }
  .container .header .logo {
    margin-left: 0;
    transform: scale(70%);
  }
  nav {
    position: absolute;
    top: 80px;
    right: 0;
    background: #F4F5F6;
    width: 50%;
    display: block;
    transform: translateX(100%);
    z-index: 2;
    transition: all 0.4s ease-in-out;
  }
  nav a {
    display: block;
    width: fit-content;
    margin: 30px auto;
  }
  .nav-active {
    z-index: 5;
    position: absolute;
    top: 80px;
    right: 0;
    background: #f2f2f2;
    width: 50%;
    display: block;
    transform: translateX(0);
    transition: all 0.4s ease-in-out;
  }
  .banner .form {
    width: 50%;
  }
  .banner .form input {
    height: 38px;
    margin: 5px 0;
  }
  .banner .form button {
    margin-top: 12px;
    font-size: 16px;
  }
  .offer-text p {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
  }
  .offer-text h1 {
    font-size: 34px;
    padding: 10px;
  }
  .contacts .tel a, .contacts .mail a {
    margin: 5px;
  }
  .services p {
    width: 80%;
    font-size: 16px;
    line-height: 22px;
  }
  .services .products {
    width: 100%;
  }
  .prod {
    width: 45%;
    height: 250px;
  }
  .prod .prod-p {
    font-size: 16px;
    line-height: 22px;
  }
  .prod .prod-h3 {
    font-size: 26px;
    line-height: 32px;
  }
  .prod .open-modal {
    height: 50px;
    font-size: 20px;
  }
  .about p {
    font-size: 16px;
    line-height: 22px;
    width: 80%;
  }
  .about a {
    font-size: 20px;
    line-height: 26px;
  }
  .worksteps p {
    font-size: 16px;
    width: 80%;
    line-height: 22px;
  }
  .item .text h4 {
    font-size: 18px;
    line-height: 24px;
  }
  .item .text p {
    width: 95%;
    font-size: 16px;
    line-height: 22px;
    margin-top: 1px;
  }
  .item .image {
    width: 50%;
  }
  .offer {
    padding: 30px;
  }
  .offer .offer-text-block {
    width: 50%;
  }
  .offer .offer-text-block h5 {
    font-size: 26px;
    line-height: 32px;
  }
  .offer .offer-text-block p {
    font-size: 18px;
    line-height: 24px;
  }
  .offer .offer-form {
    width: 50%;
  }
  .offer .offer-form button {
    margin-top: 0;
    font-size: 20px;
  }
  .advantages p {
    font-size: 18px;
    line-height: 26px;
    width: 80%;
  }
  .advantages .advantages-body .text {
    width: 100%;
  }
  .advantages .advantages-body .text p {
    width: 100%;
    font-size: 16px;
    line-height: 22px;
  }
  .advantages .advantages-body .text p img {
    transform: scale(50%);
  }
  .advantages-image {
    display: none;
  }
  #map {
    margin-top: 160px;
  }
  #map .info {
    top: -120px;
    transform: translateY(0);
    width: 60%;
    height: fit-content;
    padding: 8px;
  }
  #map .info h5 {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 8px;
  }
  #map .info p {
    font-size: 14px;
    line-height: 20px;
    display: flex;
  }
  #map .info p a {
    font-size: 14px;
    line-height: 20px;
    margin-right: 8px;
  }
  #map .info form input {
    height: 30px;
  }
  #map .info form button {
    padding: 4px;
    font-size: 14px;
    line-height: 18px;
    border-radius: 10px;
  }
  #map .info form p {
    font-size: 10px;
    line-height: 14px;
  }
  .footer .logo {
    transform: scale(70%);
    margin: 0;
  }
  .footer nav {
    display: none;
  }
  .modal {
    width: calc(100% - 40px);
  }
  .modal .head {
    padding: 30px 0;
  }
  .modal p {
    width: 90%;
    font-size: 18px;
    line-height: 24px;
  }
  .modal .adv {
    width: 100%;
  }
  .modal .adv p {
    font-size: 16px;
    line-height: 22px;
    margin: 10px 0;
  }
  .modal .adv p img {
    width: 60px;
  }
  .modal .offer {
    padding: 16px;
  }
  .modal .offer .offer-text-block p {
    font-size: 16px;
    line-height: 22px;
  }
  .modal .offer .offer-form p {
    font-size: 12px;
    line-height: 14px;
  }
  .modal .offer .offer-form input {
    height: 35px;
  }
  .modal .offer .offer-form button {
    font-size: 18px;
    line-height: 24px;
    padding: 8px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .container {
    overflow: hidden;
  }
  .container .line {
    transition: all 0.3s ease-in-out;
  }
  .container .header {
    position: relative;
    justify-content: flex-start;
  }
  .container .header .logo {
    margin-left: -30px;
    transform: scale(70%);
  }
  nav {
    position: absolute;
    top: 80px;
    right: 0;
    background: #F4F5F6;
    width: 50%;
    display: block;
    transform: translateX(100%);
    z-index: 2;
    transition: all 0.4s ease-in-out;
  }
  nav a {
    display: block;
    width: fit-content;
    margin: 30px auto;
  }
  .nav-active {
    z-index: 5;
    position: absolute;
    top: 80px;
    right: 0;
    background: #f2f2f2;
    width: 50%;
    display: block;
    transform: translateX(0);
    transition: all 0.4s ease-in-out;
  }
  .banner {
    flex-direction: column;
    padding: 20px;
    background-position: center;
  }
  .banner .offer-text {
    width: 90%;
  }
  .banner .form {
    margin-top: 20px;
    width: 90%;
    align-items: flex-start;
  }
  .banner .form input {
    height: 38px;
    margin: 5px 0;
  }
  .banner .form button {
    margin-top: 12px;
    font-size: 16px;
  }
  .offer-text p {
    margin: 10px 0 0 0;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
  }
  .offer-text h1 {
    font-size: 34px;
    padding: 10px;
    margin: 0;
    width: 100%;
  }
  .contacts .tel a, .contacts .mail a {
    margin: 5px;
  }
  .services p {
    width: 90%;
    margin: 20px auto;
    font-size: 16px;
    line-height: 22px;
  }
  .services .products {
    flex-direction: column;
    width: 100%;
  }
  .prod {
    width: 80%;
    height: 250px;
    margin-bottom: 20px;
  }
  .prod .prod-p {
    font-size: 16px;
    line-height: 22px;
  }
  .prod .prod-h3 {
    font-size: 26px;
    line-height: 32px;
  }
  .prod .open-modal {
    height: 50px;
    font-size: 20px;
  }
  .about {
    background-position: center;
  }
  .about p {
    font-size: 16px;
    line-height: 22px;
    width: 90%;
    margin: 20px auto 20px 20px;
  }
  .about a {
    font-size: 16px;
    line-height: 22px;
    margin: 0 auto 20px 20px;
  }
  .worksteps p {
    font-size: 16px;
    width: 80%;
    line-height: 22px;
  }
  .steps-box {
    flex-direction: column;
  }
  .steps-box .count {
    flex-direction: row;
    width: 50%;
  }
  .item {
    top: 40px;
    width: 100%;
    flex-direction: column;
  }
  .item .text h4 {
    font-size: 18px;
    line-height: 24px;
  }
  .item .text p {
    width: 95%;
    font-size: 16px;
    line-height: 22px;
    margin: 10px 0;
  }
  .item .image {
    width: 100%;
  }
  .item .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .offer {
    flex-direction: column;
    padding: 30px;
  }
  .offer .offer-text-block {
    width: 90%;
  }
  .offer .offer-text-block h5 {
    font-size: 26px;
    line-height: 32px;
  }
  .offer .offer-text-block p {
    font-size: 18px;
    line-height: 24px;
  }
  .offer .offer-form {
    background-size: contain;
    background-position: center;
    margin-top: 10px;
    width: 90%;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .offer .offer-form button {
    margin-top: 0;
    font-size: 20px;
  }
  .advantages p {
    font-size: 18px;
    line-height: 26px;
    width: 80%;
  }
  .advantages h4 {
    padding: 12px 20px 12px 60px;
  }
  .advantages .advantages-body .text {
    width: 100%;
  }
  .advantages .advantages-body .text p {
    width: 90%;
    margin: 10px auto;
    font-size: 16px;
    line-height: 22px;
  }
  .advantages .advantages-body .text p img {
    transform: translateY(8px);
    width: 40px;
  }
  .advantages-image {
    display: none;
  }
  #map {
    margin-top: 260px;
  }
  #map .info {
    top: -220px;
    transform: translateY(0);
    width: 80%;
    height: fit-content;
    padding: 8px;
  }
  #map .info h5 {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 8px;
  }
  #map .info p {
    font-size: 14px;
    line-height: 20px;
    display: flex;
  }
  #map .info p a {
    font-size: 14px;
    line-height: 20px;
    margin-right: 8px;
  }
  #map .info form input {
    height: 30px;
  }
  #map .info form button {
    padding: 4px;
    font-size: 14px;
    line-height: 18px;
    border-radius: 10px;
  }
  #map .info form p {
    font-size: 10px;
    line-height: 14px;
  }
  .footer .logo {
    transform: scale(70%);
    margin: 0;
  }
  .footer nav {
    display: none;
  }
  .modal {
    width: calc(100% - 40px);
  }
  .modal .head {
    padding: 30px 0;
  }
  .modal p {
    width: 90%;
    font-size: 18px;
    line-height: 24px;
  }
  .modal .adv {
    width: 100%;
  }
  .modal .adv p {
    font-size: 16px;
    line-height: 22px;
    margin: 10px 0;
  }
  .modal .adv p img {
    width: 60px;
  }
  .modal .offer {
    padding: 16px;
  }
  .modal .offer .offer-text-block p {
    font-size: 16px;
    line-height: 22px;
  }
  .modal .offer .offer-form p {
    font-size: 12px;
    line-height: 14px;
  }
  .modal .offer .offer-form input {
    height: 35px;
  }
  .modal .offer .offer-form button {
    font-size: 18px;
    line-height: 24px;
    padding: 8px;
  }
}

/*# sourceMappingURL=main.css.map */
